<div class="bg-off-white pv4">
  <div class="ph3 mw8 center">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw6">{{.intro.text}}</p>

    <div class="flex-ns flex-wrap mhn2-ns mb3">
      {{ range .groups }}
      <div class="ph2-ns w-33-ns mb3">
        <h2 class="f3 b lh-title mb2">{{.title}}</h2>
      <img src="{{.image}}" alt="" class="left db mb3">
<!--        <div class="bg-top cover h4-l db mb3" style="background-image: url('{{.image}}')"></div>-->
        <div class="nav-section-links">{{.text  | markdownify }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
