<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<p>G-----g 筝 A---e</p>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Origin</a></li>

		<li><a href="/values" class="pa3 no-underline db">Tuning</a></li>

		<li><a href="/post" class="pa3 no-underline db">The Basics</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Buying</a></li>

		<li><a href="/products" class="pa3 no-underline db">Care and Maintenance</a></li>

		<li><a href="/values" class="pa3 no-underline db">Accesories</a></li>

		<li><a href="/post" class="pa3 no-underline db">Theory</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Music</a></li>

		<li><a href="/post" class="pa3 no-underline db">Community</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Types</a></li>

		<li><a href="/contact" class="pa3 no-underline db">How It's Made</a></li>

		<li><a href="/post" class="pa3 no-underline db">About</a></li>

		<li><a href="/contact" class="pa3 no-underline db">References</a></li>
	</ul>

<!--

<div class="dropdown">
        <div class="folderItem">Build</div>
        <div class="dropdownLinks">
        <ul>
          <li><a href="#">3D-Model -></a></li>
          <li><a href="#">How to Make</a></li>
          <li><a href="#">Legal Issues</a></li>
          <li><a href="#">Wood Drying</a></li>
          <li><a href="#">Woods Used</a></li>
        </ul>
      </div>
      </div>
      <div class="dropdown">
        <div class="folderItem">Buy</div>
        <div class="dropdownLinks">
        <ul>
          <li><a href="#">Guzheng Styles</a></li>
          <li><a href="#">Similar Instruments</a></li>
          <li><a href="#">Finger Picks</a></li>
          <li><a href="#">Pick Materials</a></li>
          <li><a href="#">Pick Material Identification</a></li>
          <li><a href="#">Strings</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Cost of Ownership</a></li>
        </ul>
      </div>
    </div>
      <div class="dropdown">
        <div class="folderItem">Find</div>
      <div class="dropdownLinks">
        <ul>
          <li><a href="#">Blogs and Projects</a></li>
          <li><a href="#">Experts</a></li>
          <li><a href="#">Bands</a></li>
          <li><a href="#">GuzhengForum.com</a></li>
          <li><a href="#">Artists</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">Teachers</a></li>
        </ul>
      </div>
      </div>
          <div class="dropdown">
            <div class="folderItem">How To</div>
            <div class="dropdownLinks">
            <ul>
              <li><a href="#">Tune 21 String</a></li>
              <li><a href="#">Tune 16, 18, 23, 26 String</a></li>
              <li><a href="#">Tune Butterfly, Multitonic</a></li>
              <li><a href="#">Clean and Maintain</a></li>
              <li><a href="#">Digitize Scores</a></li>
              <li><a href="#">Mail or Ship</a></li>
            </ul>
          </div>
      </div>
      <div class="dropdown">
        <div class="folderItem">Play</div>
      <div class="dropdownLinks">
        <ul>
              <li><a href="#">Change Keys</a></li>
              <li><a href="#">Finger Technique</a></li>
              <li><a href="#">Repertoire</a></li>
              <li><a href="#">Sheet Music Sources</a></li>
              <li><a href="#">Read Sheet Music</a></li>
              <li><a href="#">Virtual Instruments</a></li>
        </ul>
      </div>
      </div>
          <div class="dropdown">
            <div class="folderItem">Learn</div>
            <div class="dropdownLinks">
            <ul>
              <li><a href="#">Guzheng in 90 Seconds</a></li>
              <li><a href="#">Guzheng History</a></li>
              <li><a href="#">Timelines</a></li>
              <li><a href="#">Parts and Terms</a></li>
            </ul>
          </div>
        </div>
            <div class="dropdown">
              <div class="folderItem">Listen</div>
              <div class="dropdownLinks">
              <ul>
                <li><a href="#">Sample Music</a></li>
              </ul>
            </div>
          </div>

</div>
<div class="dropdown">
<div class="folderItem">About</div>
<div class="dropdownLinks">
<ul>
<li><a href="#">Special Thank You</a></li>
  <li><a href="#">Guzheng Alive</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Change Log</a></li>
  <li><a href="#">Project Reach</a></li>
  <li><a href="#">Research Tools</a></li>
  <li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
  <div class="dropdown">
    <div class="folderItem">Sources</div>
    <div class="dropdownLinks">
    <ul>
      <li><a href="#">Bibliography</a></li>
      <li><a href="#">Descriptions</a></li>
      <li><a href="#">Further Reading</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">List of Figures</a></li>
      <li><a href="#">Minor Mentions</a></li>
    </ul>
  </div>
-->
</nav>
