

<!--Pneed another field for each image to create anchors-->
{{ range .sections}}
<div class="pv4">
	<div class="ph3">

		<div class="mhn2-l mw8 center">
					{{ $anchortarget := replaceRE " " "" .heading }}
				<h2 class="f2 b lh-title mb2 " id="{{$anchortarget}}">{{.heading}}</h2>

{{ if .text }}				<p>{{.text | markdownify}}</p> {{end}}
</div>

    {{if .lightbox}}
<div class="mhn2-ns mb3 flex">
          {{ range .lightbox }}
            <a class="lightbox left db mb3" href="#{{.target}}">
               <img src="{{.image}}" class="w-33"/>
            </a>
            <div class="lightbox-target" id="{{.target}}">
               <img src="{{.image}}"/>
               <p>{{.caption}}</p>
               <a class="lightbox-close" href="#"></a>
             </div>
          {{ end }}
  </div>
    {{end}}

	</div>
</div>
{{end}}
