{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/guzheng-styles.jpg" "title" "G----g Styles" "image_credit" "Caption here" ) }}

<div class="mw8 center">
  <ul class="">
      {{ range .Pages.GroupByParam "section" }}
      <h2 class="f3">{{ .Key }}</h2>
      <div class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Pages.ByParam "order" }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li-imagery"}}
          </div>
      {{ end }}
      </div>
      {{ end }}
  </ul>
</div>

{{end}}
